[data-css="BusinessPage"] {
  td p:first-child {
    @apply mr-10;
  }

  table td {
    border-top: 8px solid transparent;
    vertical-align: top;
  }

  table tr:first-child td {
    border-top: 0;
  }
}